In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor, plot_tree
import matplotlib as plt

In [2]:
df = pd.read_csv('gbdt.csv')

del df['ID']
del df['Unnamed: 5']
del df['Unnamed: 6']

In [4]:
feature_index = ['Gardening', 'VideoGames', 'Hats']

In [5]:
feature_df = df[feature_index]

In [6]:
y = df.Age
x = feature_df

In [7]:
model_depth1 = DecisionTreeRegressor(max_depth=1)
model_depth1.fit(x,y)

DecisionTreeRegressor(criterion='mse', max_depth=1, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [9]:
%matplotlib
plot_tree(model_depth1, feature_names=feature_index)

Using matplotlib backend: MacOSX

[Text(248.0, 277.2, 'Gardening <= 0.5\nmse = 577.111\nsamples = 9\nvalue = 40.333'),
 Text(124.0, 92.39999999999998, 'mse = 83.188\nsamples = 4\nvalue = 19.25'),
 Text(372.0, 92.39999999999998, 'mse = 332.16\nsamples = 5\nvalue = 57.2')]

In [10]:
model_depth2 = DecisionTreeRegressor(max_depth=2)
model_depth2.fit(x,y)
plot_tree(model_depth2, feature_names=feature_index)

[Text(248.0, 308.0, 'Gardening <= 0.5\nmse = 577.111\nsamples = 9\nvalue = 40.333'),
 Text(124.0, 184.79999999999998, 'Hats <= 0.5\nmse = 83.188\nsamples = 4\nvalue = 19.25'),
 Text(62.0, 61.599999999999966, 'mse = 0.25\nsamples = 2\nvalue = 14.5'),
 Text(186.0, 61.599999999999966, 'mse = 121.0\nsamples = 2\nvalue = 24.0'),
 Text(372.0, 184.79999999999998, 'VideoGames <= 0.5\nmse = 332.16\nsamples = 5\nvalue = 57.2'),
 Text(310.0, 61.599999999999966, 'mse = 118.222\nsamples = 3\nvalue = 64.333'),
 Text(434.0, 61.599999999999966, 'mse = 462.25\nsamples = 2\nvalue = 46.5')]

In [11]:
df['pred.'] = model_depth1.predict(x)

In [14]:
df['diff.'] = df['pred.']-df['Age']

In [15]:
df

   Age  Gardening  VideoGames  Hats  pred.  diff.
0   13          0           1     1  19.25   6.25
1   14          0           1     0  19.25   5.25
2   15          0           1     0  19.25   4.25
3   25          1           1     1  57.20  32.20
4   35          0           1     1  19.25 -15.75
5   49          1           0     0  57.20   8.20
6   68          1           1     1  57.20 -10.80
7   71          1           0     0  57.20 -13.80
8   73          1           0     1  57.20 -15.80

In [16]:
diff = df['diff.']
model_diff = DecisionTreeRegressor(max_depth=1)
model_diff.fit(x, diff)
plot_tree(model_diff, feature_names=feature_index)

[Text(248.0, 277.2, 'VideoGames <= 0.5\nmse = 221.506\nsamples = 9\nvalue = 0.0'),
 Text(124.0, 92.39999999999998, 'mse = 118.222\nsamples = 3\nvalue = -7.133'),
 Text(372.0, 92.39999999999998, 'mse = 234.984\nsamples = 6\nvalue = 3.567')]

In [17]:
df['pred. diff.'] = model_diff.predict(x)

In [18]:
df

   Age  Gardening  VideoGames  Hats  pred.  diff.  pred. diff.
0   13          0           1     1  19.25   6.25     3.566667
1   14          0           1     0  19.25   5.25     3.566667
2   15          0           1     0  19.25   4.25     3.566667
3   25          1           1     1  57.20  32.20     3.566667
4   35          0           1     1  19.25 -15.75     3.566667
5   49          1           0     0  57.20   8.20    -7.133333
6   68          1           1     1  57.20 -10.80     3.566667
7   71          1           0     0  57.20 -13.80    -7.133333
8   73          1           0     1  57.20 -15.80    -7.133333

In [19]:
df['GBDT pred.'] = df['pred.'] - df['pred. diff.']

In [20]:
df

   Age  Gardening  VideoGames  Hats  pred.  diff.  pred. diff.  GBDT pred.
0   13          0           1     1  19.25   6.25     3.566667   15.683333
1   14          0           1     0  19.25   5.25     3.566667   15.683333
2   15          0           1     0  19.25   4.25     3.566667   15.683333
3   25          1           1     1  57.20  32.20     3.566667   53.633333
4   35          0           1     1  19.25 -15.75     3.566667   15.683333
5   49          1           0     0  57.20   8.20    -7.133333   64.333333
6   68          1           1     1  57.20 -10.80     3.566667   53.633333
7   71          1           0     0  57.20 -13.80    -7.133333   64.333333
8   73          1           0     1  57.20 -15.80    -7.133333   64.333333