In [1]:
import pandas as pd
from rdkit import rdBase, Chem, DataStructs
from rdkit.Chem import AllChem, Draw, Descriptors, PandasTools

In [2]:
df = pd.read_excel('Tg_1.xlsx')
for i in ['2']:
    df = pd.concat([df, pd.read_excel('Tg_'+i+'.xlsx')])

In [3]:
df = df[df['Unnamed: 2'] == 'Experimental']

In [4]:
df = df[df['Unnamed: 4'] == 'Glass Transition Temperature']

In [5]:
columns_list = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 5']

In [6]:
df = df[columns_list]

In [7]:
df.reset_index(inplace=True, drop=True)

In [8]:
df['Unnamed: 5'] = df['Unnamed: 5'].str.split(' ', expand=True)[0]

In [9]:
# 変な値があったときに
#df.replace('135-140', '137.5', inplace=True)
df.replace('&gt;172', 172, inplace=True)

In [10]:
cas_list = []
tg_list = []
for i in list(set(df['Unnamed: 0'])):
    cas_list.append(i)
    ins_tg_list = []
    for k in range(len(df[df['Unnamed: 0'] == i])):
        values = df[df['Unnamed: 0']==i]['Unnamed: 5'].astype(float).values.tolist()
        ins_tg_list.append(values[k])
        
    tg_mean = sum(ins_tg_list)/len(ins_tg_list)
    tg_list.append(tg_mean)

In [12]:
cas_tg_list = [cas_list, tg_list]

In [13]:
final_df = pd.DataFrame(cas_tg_list,index=['CAS', 'Tg']).T
#final_df['Mol'] = final_df['CAS']

In [14]:
final_df

             CAS       Tg
0    134008-76-7      102
1    106614-56-6       68
2    848464-60-8    114.5
3    123847-85-8  97.5818
4    943754-94-7      169
..           ...      ...
115  937167-41-4  69.6667
116   15546-43-7     76.9
117  887402-96-2      174
118  832080-38-3      161
119  950834-69-2      143

[120 rows x 2 columns]